
@import "../valo/valo";

@mixin facet($facet-colour) {

		.v-panel-caption {
			color: $facet-colour;
			border-bottom: 1px solid $facet-colour;
		}
		
		.v-filterselect-input {
			background: lighten($facet-colour, 50%);
		}
		
		.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
	    	border-bottom-color: $facet-colour;
	    	color: $facet-colour;
		}

		.display-panel-header {
			color: $facet-colour;
		}

		a {
			color: $facet-colour;
		}
}

@mixin ibis {

	@include valo;
	
	$location-blue: rgb(46,112,215);
	$redlist-red: #D81E05;
	$native-green: #40b527;
	$invasive-orange: rgb(233, 127, 2);
	$header-grey: #656565;
	
	.home-text {
		text-align: center;
		font-weight: 400;
		font-size: 18px;
	}
	
	.v-spacing {
		height: $default-spacing;
		width: $default-spacing;
	}
	
	.v-formlayout td {
		padding-top: 0px !important;
	}
	
	.v-filterselect-suggestpopup-species-select {
		font-style: italic;
	}
  
	.invasive-species {
		@include facet($invasive-orange);
	}

	.native-species {
		@include facet($native-green);
	}

	.location {
		@include facet($location-blue);
	}
	
	.export-bar {
		padding: 40px 4px 0px 4px;
		
		//Space below button
		.v-link {
			margin-bottom: $default-spacing;
		}
	}

	.submit-panel {
	
		padding-left: $default-spacing;
		padding-right: $default-spacing;
		padding-top: $default-spacing / 2;
		padding-bottom: $default-spacing / 2;
	
		.button-left {
			float: left;
		}

		.button-cancel {
			float: left;
			margin-left: $default-spacing;
		}

		.button-right {
			float: right;
		}
	}
	
	.form-container {
		overflow: auto;
		padding-left: $default-spacing;
		padding-right: $default-spacing;

		.v-spacing {
			height: 12px;
		}
	}
	
	.g-plus-button {
		@include valo-button-style($background-color: $redlist-red); 
	}

	//Species table columns
	.v-table-cell-content-species {
		font-style: italic;
	}

	.v-label-undef-w {
		white-space: normal;
		text-align: justify;
	}

	.display-panel .v-csslayout {
	
		.display-panel-header {
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;
		}
		
		background-color: #fff;
		padding: 20px 20px 20px;
		overflow: auto;

		.header-large {
			font-size: 20px;
		}
		
		.content {
			text-align: justify;
		}
		
	}

	.header {
		background-color: $header-grey;
			
		.account-settings {
			@include valo-button-style($background-color: $header-grey); 
			font-size: 1.5em;
			text-align: center;
		}
		
		div {
		
			.ibis-text {
				font-size: 20px;
				font-weight: 100;
				padding-bottom: 5px;
				padding-top: 5px;
				color: #BBB;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
			}
			
			.ibis {
				font-size: 22px;
				padding-bottom: 5px;
				padding-top: 5px;
				font-weight: 500;
				color: $native-green;
				text-transform: uppercase;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
				border: 0px !important;
			}
			
		}
	}
	
	.admin-menu {
		@include valo-menubar-borderless-style;
	}
	
	/** menu bar **/
	
	.nav-menu {
		margin-left: 20px;
		margin-top: 35px;
	
	 .v-menubar-menuitem {
        margin-left: 10px;
        font-size: 20px;
        font-weight:200;
        border-bottom:2px solid transparent;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	 }

	   .v-menubar-menuitem:hover {
        color: #fff;
        cursor: pointer;
	 }

	 .v-menubar-menuitem-checked {
        border-bottom:2px solid $location-blue;
	 }

}
}