
@import "../valo/valo";

@mixin ibis {

	@include valo;
	
	$location-blue: rgb(46,112,215);
	$redlist-red: #D81E05;
	$native-green: #40b527;
	$invasive-orange: rgb(233, 127, 2);
	
	.v-formlayout td {
		padding-top: 0px !important;
	}
  
	.invasive-species {

		.v-panel-caption {
			@include valo-panel-caption-style($background-color: $invasive-orange);
		}
		
		.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
	    	border-bottom-color: $invasive-orange;
	    	color: $invasive-orange;
		}

		.display-panel-header {
			color: $invasive-orange;
		}

		a {
			color: $invasive-orange;
		}
	}

	.native-species {
		.v-panel-caption {
			@include valo-panel-caption-style($background-color: $native-green);
		}

		.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
	    	border-bottom-color: $native-green;
	    	color: $native-green;
		}

		.display-panel-header {
			color: $native-green;
		}

		a {
			color: $native-green;
		}

	}

	.location .v-panel-caption {
		@include valo-panel-caption-style($background-color: $location-blue);
	}

	
	.export-bar {
		padding: 40px 4px 0px 4px;
		
		//Space below button
		.v-link {
			margin-bottom: $default-spacing;
		}
	}

	//Species table columns
	.v-table-cell-content-species {
		font-style: italic;
	}

	.v-label-undef-w {
		white-space: normal;
		text-align: justify;
	}
	

	.display-panel .v-csslayout {
	
		.display-panel-header {
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;
		}
		
		background-color: #fff;
		padding: 20px 20px 20px;
		overflow: auto;

		.header-large {
			font-size: 20px;
		}
		
		.content {
			text-align: justify;
		}
		
	}

	.header {
		padding-left: $default-spacing;
		padding-top: 5px;
		background-color: #656565;
		
		div {
		
			float: left;
			
			.ibis-text {
				font-size: 20px;
				font-weight: 100;
				padding-bottom: 5px;
				text-align: justify;
				color: #BBB;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
				text-align: center;
			}
			
			.ibis {
				font-size: 22px;
				padding-bottom: 5px;
				padding-left: 0px;
				margin-right: 10px;
				font-weight: 500;
				color: $native-green;
				text-transform: uppercase;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
				border: 0px !important;
			}
			
			.search-box {
				padding-top: 10px;
				
				.v-textfield {
					height: 27px;
				}
			}
			
			.logo-container {
			
				float: right;
				padding-top: 5px;
			
			
			}
			
		}
		font-family: 'Lato', sans-serif;
	}
	
	/** menu bar **/
	
	.field-menu.v-menubar {
		height: 28px;
		padding-left: 5px;
	}

	.nav-menu {
		margin-left: 20px;
		margin-top: 35px;
	
	 .v-menubar-menuitem {
        margin-left: 10px;
        font-size: 20px;
        font-weight:200;
        border-bottom:2px solid transparent;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	 }

	   .v-menubar-menuitem:hover {
        color: #fff;
        cursor: pointer;
	 }

	 .v-menubar-menuitem-checked {
        border-bottom:2px solid $location-blue;
	 }

}
}