/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
// Import valo after setting the parameters



@mixin responsive {
  
  .menulayout {
    overflow: visible;
    padding: $default-spacing; 
    
    .menu {
      position: absolute;
      top: 20px;
      left: 2.5%;
      width: 15%;
      
      .v-button {
        width: 100%;
      }
    }
  }
  
  
  .dashboard {
    overflow: visible;
    display: inline-block !important;
    
		.v-panel {
		  // margin: 20px 20px 20px 0 !important; 
		  // Override inline padding
		  margin-right: 20px;
		  margin-bottom: 20px;
		}
		
	  .v-panel-content {
  	  	height: 100%; // Allow content to take up available space
	  }
	  
	  
	  // Width ranges
  
	  &[width-range~="-500px"] {
	    .v-panel {
	      width: 100%;
	    }
	  }
	  
	  &[width-range~="501-800px"] {
	    .v-panel {
	      width: 50%;
	    }
	  }
	  
	  &[width-range~="801px-"] {
	    .v-panel {
	      width: 33.3%;
	    }
	  }
	  
  
    // Height ranges
    
	  &[height-range~="-350px"] {
	    .v-panel {
	      height: 100%;
	    }
	  }
	  
	  &[height-range~="351-700px"] {
	    .v-panel {
	      height: 50%;
	    }
	  }
	  
	  &[height-range~="701px-"] {
	    .v-panel {
	      height: 33.3%;
	    }
	  }
  }
  
}
